{% extends 'wiki/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}WIRE - {% trans 'Changelog' %}{% endblock %}

{% block nav_changelog %}active{% endblock %}
    
{% block content %}

<h1>{% trans 'Latest changes' %}</h1>

{% if changes %}
    <ul>
    {% for change in changes %}
        <li>{{ change.timestamp|date:"Y M, H:i" }} {{ change.user.username }}: {{ change.description }} <a href="{% url 'wiki:changelog_detail' change.id %}">{{ change.page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% trans 'No changes available' %}</p>
{% endif %}

{% endblock %}
