{% extends 'wiki/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans 'WIRE - Home' %}{% endblock %}

{% block nav_home %}active{% endblock %}
    
{% block content %}
<ul class="utils">
    <li><a href="{% url 'wiki:page_new' %}">{% trans 'Add new page' %}</a></li>
</ul>

<h1>{% trans 'Pages' %}</h1>

{% if pages %}
    <ul>
    {% for page in pages %}
        <li><a href="{% url 'wiki:page' page.id %}">{{ page.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
<p>{% trans 'No pages available' %}</p>
{% endif %}

{% endblock %}
