{% extends 'wiki/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}{% blocktrans %}WIRE - {{ page.title }}{% endblocktrans %}{% endblock %}

{% block nav_home %}active{% endblock %}
    
{% block content %}
<ul class="utils">
    <li><a href="{% url 'wiki:index'%}">{% trans 'Back' %}</a></li>
    <li><a href="{% url 'wiki:page_delete' page.id %}">{% trans 'Delete page' %}</a></li>
    <li><a href="{% url 'wiki:page_edit' page.id %}">{% trans 'Edit page' %}</a></li>
</ul>

{{ html|safe }}
<ul class="utils">
    <li><a href="{% url 'wiki:index'%}">{% trans 'Back' %}</a></li>
    <li><a href="{% url 'wiki:page_delete' page.id %}">{% trans 'Delete page' %}</a></li>
    <li><a href="{% url 'wiki:page_edit' page.id %}">{% trans 'Edit page' %}</a></li>
</ul>
{% endblock %}
