{% extends 'wiki/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}{% blocktrans %}WIRE - Edit {% endblocktrans %}{{ page.title }}{% endblock %}

{% block nav_home %}active{% endblock %}
    
{% block content %}
<ul class="utils">
    <li><a href="{% url 'wiki:page' page.id %}">{% trans 'Back' %}</a></li>
</ul>
<h1>{% trans 'Edit' %} {{ page.title }}</h1>

<form action="{% url 'wiki:page_edit' page.id %}" method="post" class="wiki_form">
    {% csrf_token %}
    <table>
        {% for field in form %}
        <tr title="{% for msg in field.errors %}{{ msg }}{% endfor %}">
            <td class="{% if field.errors %} error{% endif %}{% if field.field.required %} required requiredbg{% endif %}">{{ field }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" value="{% blocktrans %}Save{% endblocktrans %}" /></td>
        </tr>
    </table>
</form>
<ul class="utils">
    <li><a href="{% url 'wiki:page' page.id %}">{% trans 'Back' %}</a></li>
</ul>
{% endblock %}
