/**
 * Palette http://www.colourlovers.com/palette/2314521/redesign
 * By geronimo89
 * 94C000
 * CEFF29
 * EBFFA6
 * F1F1F1
 * 2A2C26
 * 
 */


/**
 * Fonts
 */
@font-face {
    font-family: dejavusans;
    src: url('../../common/font/DejaVuSansCondensed.woff');
}

@font-face {
    font-family: dejavusans;
    font-weight: bold;
    src: url('../../common/font/DejaVuSans-Bold.woff');
}


* {

}

.chromeframe {
    padding: 5px;
    margin: 0;
    text-align: center;
    background-color: #EBFFA6;
}

/**
 * Site
 */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

input, textarea, select {
    border: 1px solid #ccc;
    padding: 3px 5px;
}

input[type=text], input[type=password]{
    width: 300px;
}

input[type=submit]{
    padding: 3px 10px;
}

textarea {
    width: 400px;
}

a {
    color: #0000FF;
}

form table tr {
    line-height: 30px;
}

    form table tr td {
        padding-left: 10px;
    }

    form table tr th {
        text-align: right;
    }

#site {
    min-height: 100%;
    width: 100%;
    position: relative;
    background-color: #F1F1F1;
    font-family: dejavusans;
    font-size: 12pt;
}

#main {
    padding-bottom: 50px; /* adjust this to the height of the footer */
}

/**
 * Header
 */
header {

}

/**
 * Navigation
 */
nav {
    position: relative;
    z-index: 100;
    height: 36px;
    background-color: #2A2C26;
}

    nav ul {
        margin: 0 auto;
        padding: 0;
        list-style-type: none;
        width: 1024px;
    }

        nav ul li {
            height: 36px;
            line-height: 36px;
            display: inline-block;
            color: #fefefe;
            float: left;
        }

            nav ul li:hover {
                background-color: #94C000;
            }

            nav ul li a {
                display: inherit;
                line-height: inherit;
                color: inherit;
                text-decoration: none;
                padding: 0 10px;
            }

        nav ul li.active {
            background-color: #94C000;
        }



/**
 * Content
 */
#content {
    position: relative;
    z-index: 50;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 1024px;
    margin: auto;
    padding: 25px;
    background-color: #fefefe;
    -webkit-box-shadow: 0px 1px 5px 1px #333;
    box-shadow: 0px 1px 5px 1px #ccc; 
}

    #content p {
        margin: 0;
        padding-bottom: 10px;
        line-height: 1.5;
    }

    #content li {
        line-height: 1.5;
    }

    #content h1, #content h2 {
        margin: 0;
        padding: 10px 0;
    }

    #content h1 {
        font-size: 16pt;
    }

    #content h2 {
        font-size: 14pt;
    }


    #content .text {
        padding: 25px;
    }

    #content ul.utils {
        padding: 0;
        margin: 0 0 25px 0;
        height: 27px;
        list-style-type: none;
        border-bottom: 1px solid #ccc;
        float: left;
        width: 100%;
    }

        #content ul.utils li {
            height: 26px;
            line-height: 26px;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            display: inline-block;
            background-color: #ddd;
            border: 1px solid #ccc;
        }

            #content ul.utils li a {
                line-height: inherit;
                text-decoration: none;
                text-align: center;
                display: inherit;
                color: #000;
                padding: 0 15px;
            }

            #content ul.utils li a:hover {
                background-color: #ccc;
            }

    /**
     * Forms
     */
    #content .wiki_form {

    }

        #content .wiki_form table {
            width: 100%;
        }


        #content .wiki_form textarea {
            width: 100%;
            height: 600px;
            font-family: monospace;
        }

    /**
     * Login
     */
    #content .login_form {
        width: 600px;
        margin: auto;
    }

        #content .login_form h1  {
            text-align: center;
        }

        #content .login_form table {
            margin: 20px auto;
        }

            #content .login_form table th {
                text-align: right;
                font-weight: normal;
            }

            #content .login_form table td {
                padding-left: 15px;
            }

        #content .login_form .warning  {
            width: 600px;
            margin: auto;
        }

    #content pre {
        background-color: #ddd;
        border: 1px solid #ccc;
        border-left: 3px solid #bbb;
        padding: 5px;
    }

    #content .warning {
        background-color: #FF1F1F;
        color: #fefefe;
        margin: 10px 0;
        padding: 5px;
    }


    #content .changelog_detail {
        border: 1px solid #ccc;
        width: 100%;
    }

        #content .changelog_detail tr {
            border-bottom: 1px solid #ccc;
        }


        #content .changelog_detail th {
            text-align: right;
            border-right: 1px solid #ccc;
            width: 200px;
            padding: 3px 5px;
            font-weight: normal;
        }


        #content .changelog_detail td {
            padding: 3px 5px 3px 10px;
            background-color: #eee;
        }

    #content .diff {
        width: 100%;
        margin: 0 0 20px 0;
        display: none;
    }

        #content .diff table {
            width: 100%;
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            background-color: #eee;
        }

            #content .diff table th {
                padding: 0;
                width: 30px;
                font-weight: normal;
                background-color: #444;
                color: #fefefe;
                border-bottom: 1px solid #555;
            }

            #content .diff table td {
                padding-left: 10px;
                border-bottom: 1px solid #ccc;
            }

        #content .diff .added {
            background-color: #DDFFDD;
        }    

        #content .diff .deleted {
            background-color: #FFDDDD;
        }

        #content .diff .modified {
            background-color: #FFFFCC;
        }

        #content .diff .seperator {
            background-color: #C5D5DD;
        }

/**
 * Footer
 */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0px; /* changes this to your own liking */
}
