{% extends 'wiki/base.html' %}
{% load url from future %}
{% load i18n %}

{% block title %}WIRE - {% trans 'Changelog detail for page ' %}{{ page.title }}{% endblock %}

{% block nav_changelog %}active{% endblock %}

<h1>Changelog of {{ page.title }}</h1>
    
{% block content %}
<table class="changelog_detail">
    <tr>
        <th>{% trans 'Page' %}: </th>
        <td>{{ change.page }}</td>
    </tr>
    <tr>
        <th>{% trans 'User' %}: </th>
        <td>{{ change.user.username }}</td>
    </tr>
    <tr>
        <th>{% trans 'Date of change' %}: </th>
        <td>{{ change.timestamp|date:"Y M, H:i" }}</td>
    </tr>
    {% if previous_change %}
        <tr>
            <th>{% trans 'Previous version' %}: </th>
            <td><a href="{% url 'wiki:changelog_detail' previous_change.id %}">Previous version</a></td>
        </tr>   
    {% endif %}
    {% if diff %}
    <tr>
        <th>{% trans 'Diff' %}: </th>
        <td><a href="#" class="show_diff">Show diff</a></td>
    </tr>
    {% endif %}
</table>

{% if diff %}
    <div class="diff">
        <table>
        {% for line in diff %}
            <tr class="{{ line.css_class }}">
                <th>{{ forloop.counter }}</th>
                <td>{{ line.diff }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endif %}

<div class="text">
    {{ html|safe }}
</div>


{% endblock %}
